
@{
    ViewBag.Title = "IndexDemo";
}

<h2>Helpers Demo</h2>
@Html.TextBox("first name ","don t be rude ", new
{
    style="background-color:Red; color:white; font-weight:bold",
    title= "please leave this site as soon as possible  "
})
 

